{% extends 'base.html' %}

{% block content %}
  <h1>管理员用户管理页面</h1>
  <h2>用户列表</h2>
  <table>
    <thead>
      <tr>
        <th>管理员ID</th>
        <th>管理员名称</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.admin_name }}</td>
          <td>
            <a href="/edit_user/{{ user.id }}">修改</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>添加用户</h2>
  <form action="/add_user" method="post">
    <label for="admin_name">管理员名称:</label>
    <input id="admin_name" name="admin_name" required type="text"><br>
    <label for="admin_password">管理员密码:</label>
    <input id="admin_password" name="admin_password" required type="password"><br>
    <input type="submit" value="添加用户">
  </form>
{% endblock %}